// Tools
@use "./utils/vars" as v;
@use "./utils/mixins" as m;

// Layout
.app {
  min-height: 100vh;
  @include m.flex(column, none, center, v.$sp-10);
  background-color: v.$clr-bg;
  padding: v.$sp-10;
}

.app__inner {
  max-width: v.$sp_960;
  margin: 0 auto;
  padding: v.$sp-10;
}

.app__header {
  @include m.flex(row, space-between, flex-start, v.$sp-10);
  justify-content: space-between;
  padding: v.$sp-10;
}

.app__title {
  @include heading(v.$sp_21);
}

.app__main {
  flex: 1;
}

.app__footer {
  padding: v.$sp-10;
}
